/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@100&family=Playfair+Display:wght@500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}
.loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}
.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 30px;
  }
  .input {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    border: 1px solid #DADCE0;
    /* border-radius: 7px; */
    font-size: 16px;
    padding: 0 10px;
    outline: none;
    background: none;
    /* z-index: 1; */
  }
  .input:focus {
    border: 2px solid rgb(214, 209, 214);
  }
  .label {
    /* position:static; */
    top: 15px;
    left: 15px;
    padding: 0 0px;
    /* background-color: white; */
    /* color: #DADCE0; */
    font-size: 16px;
    /* transition: 0.5s; */
    /* z-index: 0; */
  }
  .sbtn {
    display: block;
    padding: 15px;
    border: none;
    background-color: rgb(9, 12, 141);
    color: white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width:100%;
  }
  
  .terms span {
    display: flex;
    align-items: center;
  }